body {
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
h1 {
   
    font-weight: normal;
    font-size: 50px;
    color: white;
}
a {
    color:aquamarine;
    font-size: 16px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
p {
    color: gray;
    font-size: 21px;
}
p#copy {
    text-align: right;
}
